	.alternate-color .sapUiTableRowEven {
	        background-color: #0c0;
	}

    .alternate-color .sapUiTableRowEven:hover td {
        background-color: #0f0 !important;
    }

    .alternate-color .sapUiTableRowOdd {
        background-color: #00c;
    }

    .alternate-color .sapUiTableRowOdd input {
        color: red;
    }

    .alternate-color .sapUiTableRowOdd:hover td {
        background-color: #00f !important;
    }

    .alternate-color .sapUiTableRowOdd:hover  input {
        color: blue;
    }

    @media print {
    	body { font-size: 10pt }
    	.alternate-color .sapUiTableRowOdd {
        	background-color: #0cc;
    	}
    	.alternate-color .sapUiTableRowOdd input {
        	color: yellow;
    	}
    	.titleUI5 {
    		font-size: 50pt;
    		font-weight: bold
    	}
    	.inputUI5 .sapMInputBaseInner {
    		border: 0px;
    	}
	}
	@media screen {
    	body { font-size: 13px }
	}
	@media screen, print {
    	body { line-height: 1.2 }
	}