	.alternate-color .sapUiTableRowEven {
	        background-color: #0c0;
	}

    .alternate-color .sapUiTableRowEven:hover td {
        background-color: #0f0 !important;
    }

    .alternate-color .sapUiTableRowOdd {
        background-color: #00c;
    }

    .alternate-color .sapUiTableRowOdd input {
        color: red;
    }

    .alternate-color .sapUiTableRowOdd:hover td {
        background-color: #00f !important;
    }

    .alternate-color .sapUiTableRowOdd:hover  input {
        color: blue;
    }
	
	.alternate-color .sapUiTableCnt {
		box-sizing: border-box;
	    position: relative;
	    overflow: hidden;
	    border-left: 1px solid #ec0c0c;
	    border-right: 1px solid #1231dc;
	    border-top: 1px solid #e5e5e5;
	    background-color: #2ad325;
	}
	
	/*.sapUiTableCnt {*/
	/*	box-sizing: border-box;*/
	/*    position: relative;*/
	/*    overflow: hidden;*/
	/*    border-left: 1px solid #ec0c0c;*/
	/*    border-right: 1px solid #1231dc;*/
	/*    border-top: 1px solid #e5e5e5;*/
	/*    background-color: #2ad325;*/
	/*}*/
	
    @media print {
    	body { font-size: 10pt }
    	.alternate-color .sapUiTableRowOdd {
        	background-color: #0cc;
    	}
    	.alternate-color .sapUiTableRowOdd input {
        	color: yellow;
    	}
    	
    	.alternate-color .sapUiTableCnt {
		    box-sizing: border-box;
		    position: relative;
		    overflow: hidden;
		    border-left: 1px solid #ec0c0c;
		    border-right: 1px solid #1231dc;
		    border-top: 1px solid #e5e5e5;
		    background-color: #c125d3;
		}
    	
    	.titleUI5 {
    		font-size: 50pt;
    		font-weight: bold
    	}
    	.inputUI5 .sapMInputBaseInner {
    		border: 0px;
    	}
	}
	@media screen {
    	body { font-size: 13px }
	}
	@media screen, print {
    	body { line-height: 1.2 }
	}