   .alternate-color .sapUiTableRowEven {
        background-color: #0c0;
    }

    .alternate-color .sapUiTableRowEven:hover td {
        background-color: #0f0 !important;
    }

    .alternate-color .sapUiTableRowOdd {
        background-color: #00c;
    }

    .alternate-color .sapUiTableRowOdd input {
        color: red;
    }

    .alternate-color .sapUiTableRowOdd:hover td {
        background-color: #00f !important;
    }

    .alternate-color .sapUiTableRowOdd:hover  input {
        color: blue;
    }